
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1{
	margin: 0;
}

body {
  box-sizing: border-box;
}
img {
  width: 100%;
}
