.home{
	height: 90vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&__bg-box{
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-primary;
	}

	&__image{
		height: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0.2;
	}

	&__text{
		text-align: center;
	}

	@include respond (tablet){
		height: 100vh;
	}

	@include respond (desktop){
		&__heading{
			font-size: 7rem;
			max-width: 1100px;
		}

		&__paragraph{
			font-size: 2.4rem;
		}
	}
}

.history{
	padding: 2rem 0;

	&__principal{
		flex-wrap: wrap-reverse;

		&-picture-box{
			width: 80%;
			margin: 0 auto 2rem auto;
			max-width: 350px;
		}
	}

	&__btn-box{
		margin: 2rem 0;
		display: flex;
		justify-content: center;
	}

	&__secondary{
		margin-top: 3rem;
		&-picture-box{
			width: 100%;
			margin: 0 auto 2rem auto;
		}
	}

	&__quote{
		border-left: 1px solid rgba($color-secondary, 0.5);
		padding-left: 1em;
	}


	@include respond (tablet){
		padding: 8rem 0;
		margin: 0;

		&__btn-box{
			justify-content: flex-start;
		}

		&__secondary{
			display: flex;
			align-items: center;

			&-picture-box{
				position: relative;
				width: 100%;
				height: 200px;
			}

			&-picture{
				position: absolute;
				top: 10%;
				width: 150%;
				left: -150px;
			}
		}

		&__quote{
			position: relative;

			&::before{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 25%;
				height: 1px;
				background: $color-secondary;
				opacity: 0.5;
				left: -25%;
				z-index: 3;
			}
		}
	}

	@include respond (desktop){
		&__btn-box{
			margin: 4rem 0;
		}

		&__principal{
			&-picture-box{
				max-width: none;
			}
		}
		&__secondary{
			&-picture{
				top: -20%;
				max-width: 800px;
				left: -200px;
			}
		}
	}
}

.bikes{
	margin-top: 5rem;
	padding: 2rem 0;

	&__images{
		width: 90%;
		margin: 3rem auto;
		display: flex;
		justify-content: center;
		list-style: none;
		max-width: 450px;
	}

	&__image{
		flex: 0 0 29.33%;
		&:not(:last-child){
			margin-right: 2% ;
		}

		// width: 167px;
		// height: 120px;
	}

	@include respond (tablet){
		padding: 8rem 0;
		margin: 0;

		&__info{
			text-align: center;
		}

		&__picture-box{
			max-width: 500px;
			margin: 0 auto;
		}
	}

	@include respond (desktop){
		margin-top: 12rem;
		&__gallery{
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			margin-top: 4rem;
			justify-content: center;
		}

		&__picture-box{
			max-width: 700px;
		}

		&__images{
			position: absolute;
			margin: 0;
			right: 0;
			width: 10%;
			height: 70%;
			flex-flow: column nowrap;
		}
		
		&__image{
			flex: 0 0 29.33%;
			&:not(:last-child){
				margin-bottom: 2%;
				margin-right: 0 ;
			}
		}
	}
}

.components{
	margin-top: 5rem;
	padding: 2rem 0;

	&__info{
		margin-bottom: 3rem;
	}

	&__list{
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		justify-content: space-between;
		margin: -2rem auto;
	}

	@include respond (tablet){
		padding: 8rem 0;
		padding-top: 0;
		margin: 0;

		&__list{
			width: 100%;
		}

		&__info{
			text-align: center;
		}
	}
}