.component{
  flex: 0 1 42%;
  padding: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__header{
    width: 120px;
    height: 100px;
  }

  &__body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__info{
    margin: 1rem 0;
    flex: 1 0 auto;
    text-align: center;
  }

  &__price, &__name{ 
    display: block;
  }

  &__name{
    font-family: 'Old Standard TT', serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: $color-primary;
    font-size: 1.2rem;
  }

  &__price{
    font-family: 'Ubuntu' , sans-serif;
    color: $color-secondary;
  }

  @include respond (tablet){
    flex: 0 1 20%;
    &__name{
      font-size: 1.4rem;
    }

    &__price{
      font-size: 1.2rem;
    }
  }

  @include respond (desktop){

    &__header{
      width: 160px;
      height: 120px;
    }


    &__name{
      font-size: 1.8rem;
    }

    &__price{
      font-size: 1.4rem;
    }
  }
}