.header{
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 1.2rem 0; 
	background: rgba(0, 0, 0, 0.7);

	&__wrapper{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		width: 8rem;		
	}

	&__cart-box{
		display: none;
	}

	@include respond (tablet){
		background: transparent;
		opacity: 1;
		transition: background 0.3s ease-in;

		&--scrolled{
			background: rgba(0, 0, 0, 0.7) !important;
		}

		&__logo{
			width: 12rem;
		}

		&__logo-link{
			cursor: pointer;
			transition: opacity 0.3s ease-in;
			&:hover, &:focus{
				opacity: 0.8;
			}
		}

		&__cart-box{
			display: block;
		}

		&__cart-link{
			text-transform: capitalize;
			font-family: 'Ubuntu' , sans-serif;
			font-size: 1.4rem;
			color: $color-white;
			text-decoration: none;
			cursor: pointer;
			transition: opacity 0.3s ease-in;
			&:hover, &:focus{
				opacity: 0.8;
			}
		}

		&__cart-icon{
			margin-right: 0.5rem;
		}
	}
}

